<!doctype html>
<html ng-app="mCars">
<head>
	 <meta charset="utf-8">
	<title>M cars Manager</title>
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">


	<link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Anton|Bree+Serif|Lobster+Two:700i|Playfair+Display|Quicksand" rel="stylesheet">

	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<!-- <link rel="stylesheet" href="animate.css"> -->
	<link rel="stylesheet" type="text/css" href="main.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-route.js"></script>

	<script src="app.js"></script>
</head>
<body>
	<div id="header" class="row" ng-controller="HeadCtrl">
		<div class="col-xs-12">
			
            <h1>{{appDetails.title}}</h1>
            <h5>{{appDetails.caption}}</h5>
            
                <ul class="nav nav-pills ">
					<li class="active"><a href="#/available">Available cars</a></li>
                    <li><a href="#/rented">Rented cars</a></li>
                </ul>
            
        </div>
		</div>

	
	<div ng-view></div>
	<section id="carList" class="row  container" ng-controller="carListCtrl">
		<div class="col-xs-12" ng-repeat= "car in cars">
			<div class="panel panel-info" >
				<div class="panel-heading">
					<h5> <i class="fa fa-car" aria-hidden="true"></i>
					 {{car.name}}</h5>
				</div>
				<div class="panel-body">
					<span class="pull-left">
						<p>Model:{{car.model}}</p>
						<p>Price:{{car.price}}</p>
					</span>
					<span class="pull-right">
						<h5><strong>{{car.avail}}</strong></h5>
					</span>
				</div>
			</div>
		</div>

	</section>	 

</body>
</html>